.hotel img {
  max-height: 180px;
  max-width: 280px;
}

.hotel .name {
  font-weight: 700;
}

.hotel .city {
  font-weight: 300;
}

.hotel .actions {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 5px;
}
