
.food img.food-image {
  height: 150px;
  width: 150px;
  padding: 10px;
}

.food img.food-image:hover {
  cursor: pointer;
}

.food .name {
  font-weight: 700;
}

.food .price {
  font-weight: 300;
}

.food .actions {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 5px;
}

.star-container > i:hover {
  cursor: pointer;
}
