html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.fill-height {
  min-height: calc(100% - 80px);
}

.pane {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
}

.hotel {
  margin-top: 15px;
  padding: 10px;
  box-shadow: 0px 0px 34px -14px rgba(0,0,0,0.13),
  0px 1px 4px 0px rgba(0,0,0,0.11);
  border-radius: 10px;
}

.hotel a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
}

.hotel a .name {
  font-weight: 700;
}

.hotel a .city {
  font-weight: 300;
}